<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='web_deco.css') }}">
        <title class="center">Karaoke Feedback</title>
    </head>

    <div class="white-square"> </div>

    <div class="center">
        <h1 class="big_title">Karaoke Feedback</h1>

    <body>
        <form id="evaluation-form" method="POST" action="/result" enctype="multipart/form-data">
            <div>
                <label for="message">Describe your performance:</label><br>
                <input type="text" id="message" name="message" placeholder="Describe your performance...">
            </div>
            <div>
                <label for="audio_file">Audio file:</label><br>
                <input type="file" id="audio_file" name="audio_file" accept=".wav,.mp3" required>
            </div>
            <button type="submit">Evaluate</button>
        </form>

        <div id="resultDisplay" style="margin-top: 20px;"></div>
    </div>
    </body>
</html>
